.sidebar-container {
  width: 20%;
  height: 100vh;
  background-color: #3da4ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #fe8a71;
}

a {
  text-decoration: none;
  color: #f6cd61;
}

.sidebar-header-text {
  align-self: flex-start;
  font-size: 2.5em;
}

.sidebar-footer {
  display: flex;
  width: 100%;
  align-content: space-between;
  justify-content: space-evenly;
}

button {
  background-color: #fe8a71;
  color: whitesmoke;
}
