.container{
    display: flex;
    height: 100vh;
    width: 10%;
    flex-direction: column;
}

.top-block{
    width: 100%;
    height: 50%;
    background-color: #f6cd61;
}

.bottom-block{
    width: 100%;
    height: 50%;
    background-color: #fe8a71;
}