<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/digicon-api/src/main/resources/static/styles/indexstyles.css">
    <title>Digicon</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row row-no-padding">
            <div class="left-column col-lg-2">
                <div class="square-div">
                    <div class="orange-square"></div>
                    <div class="blue-square"></div>
                    <div class="login">
                        <div class="orange-login-block">
                            <a class="login-button" href="login.html">login</a>
                        </div>
                        <p>or</p>
                        <div class="blue-login-block">
                            <a class="signup-button" href="signup.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-column col-lg-5">
                <div class="nav-bar">
                    <ul>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="text-div">
                    <div class="texts">
                        <div class="first-text">
                            <p>Come experience <br> 
                                an innovative concert hub.</p>
                        </div>
                        <div class="second-text">
                            <p>A digital <br> 
                                concert experience for the social soul.
                             <br> 
                             Wherever you are, whenever you are.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digicon-container col-lg-1">
                <h1>Digi<span id="con">con</span></h1>
            </div>
            <div class="image-container col-lg-3">
                <img class="concert-image" src="/digicon-api/src/main/resources/static/images/concert.jpg" alt="Concert Photo"></img>
            </div>
            <div class="rblocks-container col-lg-1">
                <div class="orange-block"></div>
                <div class="blue-block"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>