<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/digicon-api/src/main/resources/static/styles/login.css"/>
    <title>Sign Up Here!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-lg-1 left-blocks">
            <div class="blocks-container">
                <div class="top-block"></div>
                <div class="bottom-block"></div>
            </div>
        </div>
        <div class="col-lg-5 login-image">
            <img
                    src="/digicon-api/src/main/resources/static/images/login-photo.jpeg"
                    class="img-fluid login-img"
                    alt="Login Image"
            />
        </div>
        <div class="col-lg-5">
            <div class="login-content">
                <div class="login-form">
                    <div class="login-header">
                        <h1>Create your account here!</h1>
                    </div>
                    <form class="login-form-content">
                        <div class="form-inner-wrapper">
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/mind.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="text"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="First Name"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/mind.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="text"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="Last Name"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/light.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="text"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="Username"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/newsletter.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="email"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="Email"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/forgot.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="date"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="BirthDate"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/forgot.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="text"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="Gender"
                                    />
                                </div>
                            </div>
                            <div class="form-group row input-container">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"
                                ><img
                                        src="./images/forgot.png"
                                        alt=""
                                        style="width: 32px; height: 32px;"
                                /></label>
                                <div class="col-sm-10">
                                    <input
                                            type="password"
                                            class="form-control inputs"
                                            id="colFormLabel"
                                            placeholder="Password"
                                    />
                                </div>
                            </div>
                            <div class="button-div">
                                <button type="button" class="btn btn-outline-warning" id="sign-up-button">
                                    Create Account
                                </button>
                            </div>
                        </div>
                        <div class="links">
                            <a href="index.html">Home</a>
                            <a href="login.html">Have an account?<br/>Sign In here!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-1 right-blocks">
            <div class="blocks-container">
                <div class="top-block"></div>
                <div class="bottom-block"></div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>
<script src="/digicon-api/src/main/resources/static/scripts/createaccount.js"></script>
</body>
</html>
